﻿@model List<KN_ProyectoWeb.Models.Product>

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="col-12">
    <div class="card overflow-hidden">

        <div class="d-flex align-items-center">
            <h5 class="card-header mb-0">Productos</h5>
            <a href="@Url.Action("AgregarProductos","Productos")" class="btn btn-outline-primary">+ Agregar</a>
        </div>

        <div class="card-body ps ps--active-x ps--active-y">

            <table id="tProductos" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Category</th>
                        <th>State</th>
                        <th>Imagen</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ConsecutiveProduct</td>
                            <td>@item.Name</td>
                            <td>$ @item.Price.ToString("N2")</td>
                            <td>@item.Quantity</td>
                            <td>@item.CategoryName</td>
                            <td>@(item.State ? "Active" : "Inactive")</td>
                            <td class="text-center"><img src="@item.ImageUrl" width="110" height="75"></td>
                            <td>
                                <a href="@Url.Action("UpdateProducts","Products", new { q = item.ConsecutiveProduct })" style="margin-right:10px;">
                                    <i class="fa fa-edit" style="font-size:20px;"></i>
                                </a>

                                <a href="@Url.Action("UpdateProductState", "Products", new { q = item.ConsecutiveProduct})">
                                    <i class="fa @(item.State ? "fa-toggle-on text-success" : "fa-toggle-off text-danger")" style="font-size:22px;"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    </div>
</div>

<script src="~/StaticFiles/js/GetProducts.js"></script>