﻿@model KN_ProyectoWeb.Models.Product

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="row">

    <div class="col-xl-1">
    </div>

    <div class="col-xl-10">

        <div class="card mb-4 mt-4">

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-primary text-center">
                    @ViewBag.Mensaje
                </div>
            }

            <h5 class="card-header">Update Producto</h5>

            @using (Html.BeginForm("UpdateProducts", "Products", FormMethod.Post, new { @id = "FormUpdateProduct", @enctype = "multipart/form-data" }))
            {
                @Html.HiddenFor(x => x.ConsecutiveProduct)
                @Html.HiddenFor(x => x.ImageUrl)

                <div class="card-body">
                    <div class="row mb-3 align-items-center">
                        <div class="col-md-10">
                            <label class="form-label">Name</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                        </div>

                        <div class="col-md-2">
                            <img src="@Model.ImageUrl" width="110" height="75">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", @rows = "4" })
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        @Html.TextBoxFor(x => x.Quantity, new { @class = "form-control" })
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Categoría</label>
                        @Html.DropDownListFor(x => x.ConsecutiveCategory, ViewBag.CategoryList as List<SelectListItem>, new { @class = "form-control" })
                    </div>

                    <div class="mb-3">
                        <label class="form-label">ImageUrl</label>
                        <input type="file" class="form-control" id="ImageProduct" name="ImageProduct">
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary d-grid w-25" type="submit">Procesar</button>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

<script src="~/StaticFiles/js/UpdateProduct.js"></script>