﻿@model KN_ProyectoWeb.Models.User

@{
    Layout = "~/Views/Shared/_LayoutInterno.cshtml";
}

<div class="row">

    <div class="col-xl-1">
    </div>

    <div class="col-xl-10">

        <div class="card mb-4 mt-4">

            @if (ViewBag.Mensaje != null)
            {
                <div class="alert alert-primary text-center">
                    @ViewBag.Mensaje
                </div>
            }

            <h5 class="card-header">Perfil Information</h5>

            @using (Html.BeginForm("GetPerfil", "User", FormMethod.Post, new { @id = "FormGetPerfil" }))
            {
                <div class="card-body">
                    <div class="mb-3">
                        <label for="username" class="form-label">Id</label>
                        @Html.TextBoxFor(x => x.Id, new { @class = "form-control", @onkeyup = "getName();" })
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Name</label>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @readOnly = "true" })
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                    </div>
                    <div class="mb-3 form-password-toggle">
                        <label class="form-label" for="password">Perfil</label>
                        @Html.TextBoxFor(x => x.PerfilName, new { @class = "form-control", @readOnly = "true" })
                    </div>

                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary d-grid w-25" type="submit">Submit</button>
                    </div>
                </div>
            }

        </div>

    </div>
</div>

<script src="~/StaticFiles/js/GetPerfil.js"></script>